body{
  background-image: url("https://wallpapercave.com/wp/oHHIhSO.jpg");
}

.card-img-top{
  width: 300px;
}

.start{
  justify-content: center;
}

#welcome{
  display: flex;
  justify-content: center;
  margin-left: 35%;
  
}

.House-btn{
  display:flex;
  width: 20%;
  margin-left: 40%;
  flex-grow: 1;
  flex-shrink: 1;
  
}

#app{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
#imgUrl{
  width: 60%;
  height:60%;
}
.card{
  border-radius: 20px;
}
.welcomeCard{
  border-radius: 20px;
}

#expelled{
  display: flex;
  justify-content: space-between;
}

#baddies{
  color:green;
  justify-content: center;
  display: flex;
}

.voldamort{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#baddie-card{
  display: flex;
  justify-content: space-between;
}
