body{
  background-image: url("https://wallpapertag.com/wallpaper/full/5/e/2/398438-magic-background-3000x1688-for-iphone-5.jpg");
}

.House-btn{
  display:flex;
  width: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  
}

#welcome{
  display: flex;
  justify-content: center;
  
}

#app{
  display: flex;
}

.welcomeCard{
  border-radius: 20px;
}

#expelled{
  display: flex;
  justify-content: space-between;
}

#army{
  color:green;
  justify-content: center;
  display: flex;
}

#baddie-card{
  display: flex;
}
