body{
  background-image: url("https://pg-cdn-a2.datacaciques.com/00/OTEyNw/17/12/20/1e47yx1d8witx2u0/b8f308e37d0b65cd.jpg");
}


#welcome{
  display: flex;
  justify-content: center;
  margin-left: 35%;
  
}

.House-btn{
  display:flex;
  width: 20%;
  flex-grow: 1;
  flex-shrink: 1;
  
}

#app{
  display: flex;
}

.welcomeCard{
  border-radius: 20px;
}

#expelled{
  display: flex;
  justify-content: space-between;
}

#army{
  color:green;
  justify-content: center;
  display: flex;
}

#baddie-card{
  display: flex;
  justify-content: space-between;
}
