.wrapper .header {
  width: 100%;
  height: 50px;
  background: rgb(165, 88, 88);
  color: rgb(162, 190, 144);
  text-align: center;
  align-items: center;
  font-size: 30px;
  display:flex;
  justify-content: center;
  font-weight:500;
}
